/************************************************************/
/* Basic CSS Style for my Org Documents.		    */
/* License: https://creativecommons.org/licenses/by-sa/4.0/ */
/************************************************************/

:root {
    /* Theme Basics */
    --sans-font: "Nimbus Sans", sans-serif;
    --mono-font: "Nimbus Mono", monospace;
    --font-smaller: 90%;
    --font-small: 80%;
    --bg: #FFF;
    --fg: #000;
    --disabled: #F2F2F2;
    --accent:   #0D47A1;
    --code: #D81B60;
    --date: #0000FF;
    --todo: #a60000;
    --next: #0031a9;
    --prog: #721045;
    --wait: #80601f;
    --maybe:#8a290f;
    --done: #006800;
    --canc: #505050;
}

html {
    /* Set the font globally */
    font-family: var(--sans-font);
}

body {
    background-color: var(--bg);
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
}

#preamble p {
    font-size: var(--font-smaller);
    text-align: center;
    margin-bottom: 50px;
}

#postamble p {
    font-size: var(--font-smaller);
    text-align: center;
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

img {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}

figcaption {
    text-align: center;
}

a {
    /* No underline on Hyperlinks. */
    text-decoration: none;
}

.underline {
    /* Fix to render underline text correctly. */
    text-decoration: underline;
}

/* Tables */

table, th, td {
    border: 1px solid #E1E4E5;
    border-collapse: collapse;
    font-size: var(--font-smaller);
    padding: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    tr:nth-child(odd) {background-color: var(--disabled);}
}

th {
    background-color: var(--bg);
    border-bottom-width: 3px;
    text-align: center;
}

/* Code */

code {
    color:  var(--code);
    font-family: var(--mono-font);
}

pre,
.src {
    background-color: var(--disabled);
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: scroll;
    font-family: var(--mono-font);
}

/* Quote */

blockquote {
    padding-left: 1%;
    border-left: 5px solid var(--accent);
    background-color: var(--disabled);
    font-size: var(--font-smaller);
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    border-radius: 5px;
}

.verse {
    padding-left: 1%;
    border-left: 5px solid var(--fg);
    background-color: var(--disabled);
    font-size: var(--font-smaller);
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    border-radius: 5px;
}

/* Org keywords */

.TODO, .NEXT, .PROG, .WAIT, .DONE, .CANC, .MAYBE {
    font-family: var(--mono-font);
    font-size: var(--font-small);
    color: var(--bg);
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.TODO {
    background-color: var(--todo);
}
.NEXT {
    background-color: var(--next);
}

.PROG {
    background-color: var(--prog);
}

.WAIT {
    background-color: var(--wait);
}

.DONE {
    background-color: var(--done);
}

.CANC {
    background-color: var(--canc);
}

.MAYBE {
    background-color: var(--maybe);
}


/* Tags and other properties */

.tag {
    font-family: var(--mono-font);
    font-size: var (--font-small);
    color: var(--fg);
    background-color: var(--disabled);
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.timestamp, .timestamp-kwd {
    font-family: var(--mono-font);
    color: var(--date);
}

.priority {
    font-family: var(--mono-font);
    color: var(--todo);
}

/* Table of Contents */

#table-of-contents > h2 {
    text-align: left;
    margin-top: 50px;
}

#table-of-contents {
    text-align: left;
    page-break-after: always;
    list-style-type: none;
}

#table-of-contents ul {
    list-style-type: none;
}

/* Properties drawer */

.example {
    border: 1px solid;
    background-color: var(--bg);
    font-style: italic;
    font-size: var(--font-small);
    padding: 2px;
}

/* Printing */

@media print {
    table, th, td {
	border: 1px solid var(--fg);
	border-collapse: collapse;
	padding: 15px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
    }
}
